In [12]:
import pandas as pd
import numpy as np

In [28]:
state_census = pd.read_csv("st-est00int-01.csv", thousands=',')

state_census_00to19 = pd.read_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/2019 Population/state-est2010-2019.csv")

In [20]:
state_census.head()

,State,jul2000,jul2001,jul2002,jul2003,jul2004,jul2005,jul2006,jul2007,jul2008,jul2009
0,United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529
1,Northeast,53666295,53915522,54143915,54334453,54423533,54451230,54522659,54653362,54875926,55133101
2,Midwest,64491431,64776531,65018293,65276954,65532305,65751872,66028555,66293689,66523935,66748437
3,South,100565549,101849575,103150787,104380188,105883977,107479771,109076933,110688742,112184930,113548615
4,West,63439136,64427327,65312198,66116338,66965483,67833726,68751765,69595414,70509175,71341376

In [29]:
state_census_00to19.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,10,0,0,0,United States,308758105,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,20,1,0,0,Northeast Region,55318443,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,20,2,0,0,Midwest Region,66929725,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,20,3,0,0,South Region,114563030,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,20,4,0,0,West Region,71946907,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268

In [30]:
state_census_00to19.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'ESTIMATESBASE2010',
       'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018',
       'POPESTIMATE2019'],
      dtype='object')

In [31]:
# Filter only the necessary columns

state_census_00to19= state_census_00to19[['NAME','POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018',
       'POPESTIMATE2019']]

In [33]:
df_comb = state_census.merge(state_census_00to19, left_on='State', right_on='NAME')

In [34]:
df_comb.head()

,State,jul2000,jul2001,jul2002,jul2003,jul2004,jul2005,jul2006,jul2007,jul2008,...,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,...,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
2,Alaska,627963,633714,642337,648414,659286,666946,675302,680300,687455,...,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
3,Arizona,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,...,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
4,Arkansas,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,...,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804

In [35]:
df_comb.tail()

,State,jul2000,jul2001,jul2002,jul2003,jul2004,jul2005,jul2006,jul2007,jul2008,...,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
48,Washington,5910512,5985722,6052349,6104115,6178645,6257305,6370753,6461587,6562231,...,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
49,West Virginia,1807021,1801481,1805414,1812295,1816438,1820492,1827912,1834052,1840310,...,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
50,Wisconsin,5373999,5406835,5445162,5479203,5514026,5546166,5577655,5610775,5640996,...,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
51,Wyoming,494300,494657,500017,503453,509106,514157,522667,534876,546043,...,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
52,Puerto Rico,3810605,3818774,3823701,3826095,3826878,3821362,3805214,3782995,3760866,...,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [36]:
df=df_comb.set_index('State')

In [38]:
new_df = pd.DataFrame(df.stack())

In [42]:
new_df = new_df.reset_index()

In [43]:
new_df.head()

           State  level_1          0
0  United States  jul2000  282162411
1  United States  jul2001  284968955
2  United States  jul2002  287625193
3  United States  jul2003  290107933
4  United States  jul2004  292805298

In [44]:
# assign Column name

new_df.columns = ['STATE', 'YEAR', 'POP_TOTAL']

In [45]:
new_df.head()

           STATE     YEAR  POP_TOTAL
0  United States  jul2000  282162411
1  United States  jul2001  284968955
2  United States  jul2002  287625193
3  United States  jul2003  290107933
4  United States  jul2004  292805298

In [48]:
new_df["YEAR"].str[-4:]

0       2000
1       2001
2       2002
3       2003
4       2004
        ...
1108    2015
1109    2016
1110    2017
1111    2018
1112    2019
Name: YEAR, Length: 1113, dtype: object

In [49]:
# Take out unuseful words from Year
new_df["YEAR"] = new_df["YEAR"].str[-4:]

In [50]:
new_df.head()

           STATE  YEAR  POP_TOTAL
0  United States  2000  282162411
1  United States  2001  284968955
2  United States  2002  287625193
3  United States  2003  290107933
4  United States  2004  292805298

In [16]:
new_df.to_csv("state_00to19.csv", index=False)

,jul2000,jul2001,jul2002,jul2003,jul2004,jul2005,jul2006,jul2007,jul2008,jul2009
State,,,,,,,,,,
Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938
Alaska,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895
Arizona,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154
Arkansas,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843
California,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229
Colorado,4326921,4425687,4490406,4528732,4575013,4631888,4720423,4803868,4889730,4972195
Connecticut,3411777,3432835,3458749,3484336,3496094,3506956,3517460,3527270,3545579,3561807
Delaware,786373,795699,806169,818003,830803,845150,859268,871749,883874,891730
District of Columbia,572046,574504,573158,568502,567754,567136,570681,574404,580236,592228
Florida,16047515,16356966,16689370,17004085,17415318,17842038,18166990,18367842,18527305,18652644
Georgia,8227303,8377038,8508256,8622793,8769252,8925922,9155813,9349988,9504843,9620846
Hawaii,1213519,1225948,1239613,1251154,1273569,1292729,1309731,1315675,1332213,1346717
Idaho,1299430,1319962,1340372,1363380,1391802,1428241,1468669,1505105,1534320,1554439
Illinois,12434161,12488445,12525556,12556006,12589773,12609903,12643955,12695866,12747038,12796778
Indiana,6091866,6127760,6155967,6196638,6233007,6278616,6332669,6379599,6424806,6459325
Iowa,2929067,2931997,2934234,2941999,2953635,2964454,2982644,2999212,3016734,3032870
Kansas,2693681,2702162,2713535,2723004,2734373,2745299,2762931,2783785,2808076,2832704
Kentucky,4049021,4068132,4089875,4117170,4146101,4182742,4219239,4256672,4289878,4317074
Louisiana,4471885,4477875,4497267,4521042,4552238,4576628,4302665,4375581,4435586,4491648
Maine,1277072,1285692,1295960,1306513,1313688,1318787,1323619,1327040,1330509,1329590
Maryland,5311034,5374691,5440389,5496269,5546935,5592379,5627367,5653408,5684965,5730388
Massachusetts,6361104,6397634,6417206,6422565,6412281,6403290,6410084,6431559,6468967,6517613
Michigan,9952450,9991120,10015710,10041152,10055315,10051137,10036081,10001284,9946889,9901591
Midwest,64491431,64776531,65018293,65276954,65532305,65751872,66028555,66293689,66523935,66748437
Minnesota,4933692,4982796,5018935,5053572,5087713,5119598,5163555,5207203,5247018,5281203
Mississippi,2848353,2852994,2858681,2868312,2889010,2905943,2904978,2928350,2947806,2958774
Missouri,5607285,5641142,5674825,5709403,5747741,5790300,5842704,5887612,5923916,5961088
Montana,903773,906961,911667,919630,930009,940102,952692,964706,976415,983982
Nebraska,1713820,1719836,1728292,1738643,1749370,1761497,1772693,1783440,1796378,1812683
Nevada,2018741,2098399,2173791,2248850,2346222,2432143,2522658,2601072,2653630,2684665
New Hampshire,1239882,1255517,1269089,1279840,1290121,1298492,1308389,1312540,1315906,1316102
New Jersey,8430621,8492671,8552643,8601402,8634561,8651974,8661679,8677885,8711090,8755602
New Mexico,1821204,1831690,1855309,1877574,1903808,1932274,1962137,1990070,2010662,2036802
New York,19001780,19082838,19137800,19175939,19171567,19132610,19104631,19132335,19212436,19307066
North Carolina,8081614,8210122,8326201,8422501,8553152,8705407,8917270,9118037,9309449,9449566
North Dakota,642023,639062,638168,638817,644705,646089,649422,652822,657569,664968
Northeast,53666295,53915522,54143915,54334453,54423533,54451230,54522659,54653362,54875926,55133101
Ohio,11363543,11387404,11407889,11434788,11452251,11463320,11481213,11500468,11515391,11528896
Oklahoma,3454365,3467100,3489080,3504892,3525233,3548597,3594090,3634349,3668976,3717572
Oregon,3429708,3467937,3513424,3547376,3569463,3613202,3670883,3722417,3768748,3808600
Pennsylvania,12284173,12298970,12331031,12374658,12410722,12449990,12510809,12563937,12612285,12666858
Puerto Rico,3810605,3818774,3823701,3826095,3826878,3821362,3805214,3782995,3760866,3740410
Rhode Island,1050268,1057142,1065995,1071342,1074579,1067916,1063096,1057315,1055003,1053646
South,100565549,101849575,103150787,104380188,105883977,107479771,109076933,110688742,112184930,113548615
South Carolina,4024223,4064995,4107795,4150297,4210921,4270150,4357847,4444110,4528996,4589872
South Dakota,755844,757972,760020,763729,770396,775493,783033,791623,799124,807067
Tennessee,5703719,5750789,5795918,5847812,5910809,5991057,6088766,6175727,6247411,6306019
Texas,20944499,21319622,21690325,22030931,22394023,22778123,23359580,23831983,24309039,24801761
United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529
Utah,2244502,2283715,2324815,2360137,2401580,2457719,2525507,2597746,2663029,2723421
Vermont,609618,612223,615442,617858,619920,621215,622892,623481,624151,624817
Virginia,7105817,7198362,7286873,7366977,7475575,7577105,7673725,7751000,7833496,7925937
Washington,5910512,5985722,6052349,6104115,6178645,6257305,6370753,6461587,6562231,6667426
West,63439136,64427327,65312198,66116338,66965483,67833726,68751765,69595414,70509175,71341376
West Virginia,1807021,1801481,1805414,1812295,1816438,1820492,1827912,1834052,1840310,1847775
Wisconsin,5373999,5406835,5445162,5479203,5514026,5546166,5577655,5610775,5640996,5669264
Wyoming,494300,494657,500017,503453,509106,514157,522667,534876,546043,559851